<h1>Shop Order Show</h1>

<table class="table">
  <tr>
    <td><b>Order Name:</b></td>
    <td>
      <%= @order.name %>
    </td>
  </tr> 

  <tr>
    <td><b>Address:</b></td>
    <td>
      <%= @order.address %>
    </td>
  </tr>
  
  <tr>
    <td><b>Order Date:</b></td>
    <td>
      <%= (@order.created_at).strftime("%m/%d/%Y") %>
    </td>
  </tr>
  
</table>

<h3>Shipping Information </h3>

<table class="table">
  <tr>
    <td><b>Carrier:</b></td>
    <td>
      <%= @order.carrier %>
    </td>
  </tr> 

  <tr>
    <td><b>Tracking #:</b></td>
    <td>
      <%= @order.tracking_number %>
    </td>
  </tr>
  
  <tr>
    <td><b>Ship Date:</b></td>
    <td>
      <%= (@order.ship_date).strftime("%m/%d/%Y") if @order.ship_date? %>
    </td>
  </tr>
  
</table>

<%= link_to 'Edit', edit_order_path(@order), :class => 'btn' %>
<%= link_to 'Back', :back, :class => 'btn' %>
<%= link_to 'Update Shipment Info', edit_shipment_path(@order), :class => 'btn' %>