<%= form_for(@item) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>

  <%= f.label :title %>
  <%= f.text_field :title %>
  
  <%= f.label :description %>
  <%= f.text_area :description %>

  <%= f.label :price %>
  <%= f.text_field :price %>
   
  <%= f.label :quantity %>
  <%= f.text_field :quantity %>
  
  <%= f.fields_for :itemimage do |builder| %>
    <% if builder.object.image? %>
      <div class='control-group'>
        <label class="control-label">Current image</label>
        <%= image_tag(builder.object.image, :width => '35')  %>
        <label>
           <%= builder.check_box :remove_image %>
           Remove image
         </label>
      </div>
    <% end %>
    <%= builder.label :image %>
    <%= builder.file_field :image %>
 
  <% end %>
  
  <div class="form-actions">
    
    <% if params[:action] == "edit" %>
      <%= f.submit "Save changes", class: "btn btn-warning" %>
      <%= link_to 'Cancel', user_path(current_user), :class => 'btn' %>
    <% else %>
      <%= f.submit "Add Item", class: "btn btn-warning" %>
      <%= link_to 'Cancel', users_path(current_user), :class => 'btn' %>
    <% end %>
  </div>
<% end %>

