<h1>Shop Item</h1>

<%= link_to 'Back', items_path, :class => 'btn' %>

<div class="clearfix">
  <div class="layout-main">
    <div class="item-header">
      <h3><%= @item.title %></h3>
    </div>
    <div class="item-images">
      <%= image_tag(@item.itemimage.image) if @item.itemimage.present? %>
    </div>
    <div class="item-description">
      <h4>What's included in my order?</h4>
      <%= @item.description %>
    </div>
  </div>
  <div class="layout-right">
    <div class="item-order">
      <h4><%= number_to_currency(@item.price) %></h4>
      <%= format_quantity(@item.quantity) %><br/>
      <%= render "quantity" %>
      
    </div>
    <div class="item-shop">
      <div>
        <h4>Verified Home Shop-Owner</h4>
      </div>
      <div class="item-shop-details">
        <div class="item-shop-name">
          <h4><%= @item.shop.name %></h4>
        </div>
        <div class="item-shop-location">
          <%= @item.shop.city %>, <%= @item.shop.state %>
        </div>
        <%= link_to 'View Store', shop_path(@item.shop), :class => 'btn' %>
      </div>
    </div>
  </div>
</div>