<h1>Shop Item</h1>

<%= link_to 'Back', items_path, :class => 'btn' %>

<div class="clearfix">
  <div class="layout-main">
    <div class="item-header">
      <h3><%= @item.title %></h3>
    </div>
    <div class="item-images" id="full">
      <ul>
        <% @item.itemimages.each do |picture| %>
          <li id="image<%= picture.id %>"><%= image_tag(picture.image) %></li>
        <% end %>
      </ul>
    </div>
    <div id="thumbnails">
    <ul>
    <% @item.itemimages.each do |picture| %>
        <li><a href="#image<%= picture.id %>"><%= image_tag(picture.image, width: "62", height: "62") if picture.image.present? %></a></li>
    <% end %>
    </ul>
    </div>
    <div class="item-description">
      <h4>What's included in my order?</h4>
      <%= @item.description %>
    </div>
  </div>
  <div class="layout-right">
    <div class="item-order">
      <h4><%= number_to_currency(@item.price) %></h4>
      <%= format_quantity(@item.quantity) %><br/>
      <%= render "quantity" %>
      <%= link_to (content_tag(:i, "", :class=>"icon-heart") + " Favorite"), favorite_items_path(:id => @item.id), :method=> :post, :class => 'btn favorite' %>
      
    </div>
    <div class="item-shop">
      <div>
        <h4>Verified Home Shop-Owner</h4>
      </div>
      <div class="item-shop-details">
        <div class="item-shop-name">
          <h4><%= @item.shop.name %></h4>
        </div>
        <div class="item-shop-location">
          <%= @item.shop.city %>, <%= @item.shop.state %>
        </div>
        <%= link_to 'View Store', shop_path(@item.shop), :class => 'btn' %>
      </div>
    </div>
  </div>
</div>