<h1>Your Shop Item</h1>

<table class="table">
  <tr>
    <td><b>Item:</b></td>
    <td>
      <%= @item.title %>
    </td>
  </tr> 

  <tr>
    <td><b>Description:</b></td>
    <td>
      <%= @item.description %>
    </td>
  </tr>
  
  <tr>
    <td><b>Price:</b></td>
    <td>
      <%= @item.price %>
    </td>
  </tr>
  
  <tr>
    <td><b>Quantity Available:</b></td>
    <td>
      <%= @item.quantity %>
    </td>
  </tr>
  
  <tr>
    <td><b>Shop:</b></td>
    <td>
      <%= @item.shop.name %>
    </td>
  </tr>
   
</table>
<div class="row-fluid">
<% @item.itemimages.each do |picture| %>
  <div class="span2">
    <%= image_tag(picture.image) if picture.image.present? %>
    <div class="actions">
      <%= link_to "remove", picture, :confirm => 'Are you sure?', :method => :delete %>
    </div>
  </div>
<% end %>
</div>
<br>
<br>
<% if @item.itemimages.size < 5 %>
  <%= link_to "Add an Image", new_itemimage_path(:item_id => @item), :class => 'btn' %>
<% end %>
<%= link_to 'Back', items_path, :class => 'btn' %>
<%= link_to 'Edit', edit_item_path(@item), :class => 'btn' %>